@{
    Layout = null;
}
<html>
<head>
  <title>Welcome to NewsPortal</title>
</head>
<body>
    <div id="swagger">
        <a href="/swagger">Swagger</a>
    </div>
    <div id="news-manager">
        <a href="/newsmanager">News Manager</a>
    </div>
    <div id="root"></div>
    <script type="text/javascript" src="@Url.Content("~/public/main.js")"></script>
</body>
</html>