@{
    Layout = null;
}
<html>
<head>
  <title>Welcome to NewsPortal</title>
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="@Url.Content("~/dist/main.js")"></script>
</body>
</html>